nav {
    margin: 0 auto;
    height: inherit;
    width: inherit;
}

nav * {
    width: inherit;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    vertical-align: middle;
    margin: 0 20px;
}

nav ul li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

nav.shift ul li a {
    position: relative;
    width: fit-content;
    pointer-events: auto;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: #91640F;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 1;
    z-index: -1;
}

.button-opened_only:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.button-opened_only {
    color: #91640F;
}

.button-hover:after {
    height: 1px;
}

.button-hover:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}