nav.shift ul li a {
    width: 120px;
}

header .logo {
    width: 124px;
}

.parallax-layer div.image {
    background-position-y: 0;
}

.s3-z600 {
    -webkit-transform: none;
    transform: none;
}

.s2-z400 {
    -webkit-transform: none;
    transform: none;
}

.s2_1-z350 {
    -webkit-transform: none;
    transform: none;
}

#github-avatar img {
    transform: translateY(calc(-24%));
    clip-path: none;
    border-radius: 100%;
}